<ul role="list" class="mt-3 grid grid-cols-1 gap-3 sm:gap-4 sm:grid-cols-2 lg:grid-cols-4">
    @if (!loading()) {
        @for (item of employees(); track $index) {
            <li [routerLink]="item.id.toString()"
                class="flex shadow-sm rounded-md border border-gray-200 bg-white hover:bg-cyan-600 hover:bg-opacity-15">
                <div class="flex-1 flex flex-grow items-center justify-between rounded-md truncate">
                    <div class="flex-1 px-4 py-2 text-sm truncate">
                        <p class="text-cyan-900 font-medium hover:text-gray-600">{{ item.firstName }} {{item.lastName}}</p>
                        <p class="text-gray-400 text-sm">{{ item.role }}</p>
                        <p *ngIf="item.itemsCount > 0" class="text-gray-500 text-xs">{{ 'employees.list.item.count' | translate: {count: item.itemsCount} }}</p>
                        <p *ngIf="item.itemsCount == 0" class="text-gray-500 text-xs">{{ 'employees.list.item.no-count' | translate }}</p>
                    </div>
                </div>
            </li>
        } @empty {
            <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">
                @if(filter()) {
                    {{'employees.list.empty-filtered' | translate:{filter: filter()} }}
                } @else {
                    {{ 'employees.list.empty' | translate }}
                }
            </h2>
        }
    } @else {
        <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">
            {{ 'employees.list.loading' | translate }}
        </h2>
    }
</ul>
