<oa-page-header [title]="'employees.detail.title' | translate" />
<oa-page-content>
    <oa-section-header [title]="'employees.detail.subtitle' | translate:{name: name()}" [actions]="actions" />
    <oa-error-display [error]="error()" *ngIf="error()" (dismiss)="error.set(null)" />
    <div>
        <div class="mt-6 border-gray-100">
            <dl class="divide-y divide-gray-100">
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">{{'employees.form.name.label' | translate}}</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ employee()?.firstName }} {{ employee()?.lastName }}</dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">{{'employees.form.role.label' | translate}}</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ employee()?.role }}</dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">{{ 'employees.form.items.label' | translate:{count: employee()?.itemsCount} }}</dt>
                    <dd class="mt-2 text-sm text-gray-900 sm:col-span-3 sm:mt-0">
                        <oa-related-items-list [items]="items()" showPlace="true" showOwner="false" [createMessage]="'employees.detail.actions.empty.create.title' | translate" [emptyMessage]="'employees.detail.actions.empty.create.message' | translate:{name: name()}" />
                    </dd>
                </div>
            </dl>
        </div>
    </div>
    <oa-confirm-modal [open]="open()" [title]="'employees.detail.actions.delete.title' | translate"
                      [body]="'employees.detail.actions.delete.body' | translate:{name: name()}"
                      [cancelLabel]="'employees.detail.actions.delete.cancel' | translate"
                      [confirmLabel]="'employees.detail.actions.delete.confirm' | translate"
                      (confirm)="onDeleteConfirm_Click()" (cancel)="onCancel()" />
</oa-page-content>
